@import "../../../index.scss";

.main-page-container {
  display: flex;
  flex-direction: column;
  position: relative;

  .main-page-notification {
    color: $primary-white;

    background-color: black;
    position: fixed;
    z-index: 1;
    top: 15%;
    left: 92.5%;
    transform: translateX(-50%);
    width: 200px;
  }

  .ads-container {
    padding: 8px 5% 0 5%;

    @media screen and (max-width: 500px) {
      padding: 8px;
    }

    .ads-carousel-container {
      position: relative;
      width: 100%;
      height: 100%;
      margin: 0 auto;

      .ads-slide {
        img {
          width: clamp(250px, 100%, 100%);
          height: 100%;
          max-height: 600px;
          object-fit: cover;
          border-radius: 8px;
          z-index: 1;

          @media screen and (min-width: 2500px) {
            max-height: 800px;
          }

          @media screen and (max-width: 1310px) {
            max-height: 550px;
          }

          @media screen and (max-width: 1210px) {
            max-height: 500px;
          }

          @media screen and (max-width: 1100px) {
            max-height: 450px;
          }

          @media screen and (max-width: 1000px) {
            max-height: 400px;
          }

          @media screen and (max-width: 900px) {
            max-height: 350px;
          }

          @media screen and (max-width: 800px) {
            max-height: 300px;
          }

          @media screen and (max-width: 700px) {
            max-height: 250px;
          }

          @media screen and (max-width: 575px) {
            height: 300px;
          }

          @media screen and (max-width: 475px) {
            height: 200px;
          }
        }

        span {
          position: absolute;
          top: 45%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: rgb(0, 0, 0, 0.7);
          padding: 8px;
          border-radius: 8px;
          text-align: center;
          font-size: 24px;
          z-index: 2;

          @media screen and (max-width: 700px) {
            font-size: 20px;
          }

          @media screen and (max-width: 500px) {
            font-size: 14px;
          }

          @media screen and (max-width: 450px) {
            font-size: 14px;
          }
        }
      }

      .ads-carousel-arrow {
        position: absolute;
        top: 45%;
        transform: translate(0, -50%);
        color: $primary-white;
        background-color: rgb(0, 0, 0, 0.4);
        border-radius: 24px;
        z-index: 2;
        cursor: pointer;
        display: flex;

        svg {
          width: 48px;
          height: 48px;

          @media screen and (max-width: 800px) {
            width: 32px;
            height: 32px;
          }

          @media screen and (max-width: 500px) {
            width: 24px;
            height: 24px;
          }
        }

        &.left {
          left: 24px;
        }

        &.right {
          right: 24px;
        }

        @media screen and (max-width: 500px) {
          &.left {
            left: 8px;
          }

          &.right {
            right: 8px;
          }
        }
      }

      .ads-dots-container {
        display: flex;
        justify-content: center;

        .ads-dots {
          margin: 8px;
          cursor: pointer;
          svg {
            width: 24px;
            height: 24px;

            @media screen and (max-width: 800px) {
              width: 16px;
              height: 16px;
            }
          }
        }
      }
    }
  }
}

.error-message {
  text-align: center;
  padding-top: 16px;
}

.main-page-categories-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0 24px;

  @media screen and (min-width: 0px) and (max-width: 500px) {
    padding: 8px 4px;
  }

  .main-page-category-container {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .main-page-category-title {
      padding-left: 40px;
      text-transform: capitalize;

      @media screen and (min-width: 0px) and (max-width: 500px) {
        font-size: 20px;
      }
    }

    .main-page-category-body {
      display: flex;
      align-items: center;

      .left-arrow-left,
      .right-arrow-right {
        display: flex;
        cursor: pointer;

        svg {
          width: 40px;
          height: 40px;
        }
      }
      .is-disabled-hide {
        visibility: hidden;
      }

      .main-page-category {
        display: flex;
        flex-direction: row;
        gap: 16px;
        overflow-y: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;

        .main-page-category-map {
          display: flex;
        }
      }
    }
  }
}
