@import "../../../index.scss";

.main-page-container {
  display: flex;
  flex-direction: column;
  gap: 24px;

  .ads-container {
    padding-top: 8px;

    .ads-carousel-container {
      position: relative;
      margin: 0 auto;
      width: clamp(350px, 80%, 1800px);
      height: 600px;

      .ads-slide {
        width: 100%;
        height: 100%;
        border-radius: 8px;
        background-size: cover;
        background-position: center;
        position: relative;

        .ads-text {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: rgb(0, 0, 0, 0.6);
          padding: 8px;
          border-radius: 8px;
          text-align: center;
          font-size: 24px;
        }
      }

      .ads-carousel-arrow {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        color: $primary-white;
        background-color: rgb(0, 0, 0, 0.4);
        border-radius: 24px;
        z-index: 1;
        cursor: pointer;
        display: flex;

        svg {
          width: 48px;
          height: 48px;
        }

        &.left {
          left: 24px;
        }

        &.right {
          right: 24px;
        }
      }

      .ads-dots-container {
        display: flex;
        justify-content: center;

        .ads-dots {
          margin: 8px;
          cursor: pointer;
          svg {
            width: clamp(16px, 100%, 24px);
          }
        }
      }

      @media screen and (min-width: 0px) and (max-width: 500px) {
        height: 250px;

        .ads-slide {
          .ads-text {
            font-size: 16px;
          }
        }

        .ads-carousel-arrow {
          svg {
            width: 24px;
            height: 24px;
          }
        }

        .ads-dots-container {
          .ads-dots {
            svg {
              width: 16px;
            }
          }
        }
      }

      @media screen and (min-width: 501px) and (max-width: 1200px) {
        height: 400px;
      }
    }
  }

  .error-message {
    text-align: center;
    padding-top: 16px;
  }

  .main-page-categories-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0 24px;

    @media screen and (min-width: 0px) and (max-width: 500px) {
      padding: 8px;
    }

    .main-page-category-container {
      display: flex;
      flex-direction: column;
      gap: 8px;

      .main-page-category-title {
        padding-left: 40px;
        text-transform: capitalize;

        @media screen and (min-width: 0px) and (max-width: 500px) {
          font-size: 20px;
        }
      }

      .main-page-category-body {
        display: flex;
        align-items: center;

        .left-arrow-left,
        .right-arrow-right {
          display: flex;
          cursor: pointer;

          svg {
            width: 40px;
            height: 40px;
          }
        }
        .is-disabled-hide {
          visibility: hidden;
        }

        .main-page-category {
          display: flex;
          flex-direction: row;
          gap: 16px;
          overflow-y: auto;
          scrollbar-width: none;
          -ms-overflow-style: none;

          .main-page-category-map {
            display: flex;
          }
        }
      }
    }
  }
}
