@import "../../../index.scss";

.favorite-container {
  display: flex;
  flex-direction: column;
  padding: 0 16px 16px 16px;

  .error-message {
    text-align: center;
    font-size: 32px;
  }

  .favorite-title {
    border-bottom: 1px solid $primary-white;
    padding-bottom: 8px;
  }

  .favorite-category {
    display: flex;
    flex-direction: column;

    .favorite-message {
      font-size: 18px;
      text-align: center;
      padding: 16px;
    }
  }
}
