@import "../../index.scss";

.search-card-container {
  display: flex;
  width: 100%;
  gap: 16px;
  background-color: $secondary-black;
  padding: 8px 16px;
  border-radius: 8px;

  img {
    width: 150px;
    height: 150px;
    cursor: pointer;
  }

  .search-card-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 85%;

    .search-card-title {
      cursor: pointer;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      line-height: 20px;
      height: 40px;
      overflow: hidden;

      &:hover {
        text-decoration: underline;
      }
    }

    .search-card-description {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      line-height: 20px;
      height: 80px;
      overflow: hidden;
      color: gray;
    }
  }

  .search-card-price {
    color: red;
    font-weight: bold;
    font-size: 24px;
    width: 100px;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

@media screen and (min-width: 0px) and (max-width: 500px) {
  .search-card-container {
    gap: 8px;
    img {
      width: 100px;
      height: 100px;
    }

    .search-card-text {
      gap: 0;
      .search-card-description {
        height: 60px;
      }
    }

    .search-card-price {
      font-size: 16px;
    }
  }
}

@media screen and (min-width: 0px) and (max-width: 330px) {
  .search-card-container {
    img {
      width: 80px;
      height: 80px;
    }

    .search-card-text {
      .search-card-description {
        height: 40px;
      }
    }
  }
}
