@import "../../../index.scss";

.header-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;

  input {
    color: $primary-white;
    background-color: $background-color;
    border: 1px solid $primary-blue;
    border-radius: 16px;
    padding: 10px 24px;
    width: 100%;

    &:focus {
      outline: none;
      background-color: #003138;
    }
  }

  .header-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;

    h1 {
      font-family: Agbalumo;
      font-weight: bold;
      cursor: pointer;
      background: $logo;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .login-right-buttons {
      display: flex;
      gap: 10px;
      padding: 0 10px;

      button {
        background-color: $background-color;
        color: $primary-white;
        border: none;
        gap: 8px;

        .button-text {
          display: flex;
          align-items: center;
        }

        svg {
          height: 25px;
          width: 25px;
        }

        .left-icon {
          color: $primary-blue;
          position: relative;

          .cart-length {
            background-color: red;
            color: $primary-white;
            position: absolute;
            left: 12px;
            bottom: 16px;
            width: 16px;
            height: 16px;
            border-radius: 16px;
          }
        }

        &:hover {
          color: lightgray;
        }
      }

      @media screen and (min-width: 0px) and (max-width: 1080px) {
        gap: 20px;
        button {
          .button-text {
            display: none;
          }
        }
      }

      .dropdown-account {
        display: flex;
        flex-direction: column;
        background-color: #292929;
        color: $primary-white;
        border-radius: 8px;
        position: absolute;
        top: 45px;
        padding: 0 8px 8px 8px;
        cursor: default;
        z-index: 2;

        .dropdown-icon {
          display: flex;
          align-self: center;
          margin-top: -5px;
        }

        .dropdown-options {
          display: flex;
          flex-direction: column;
          gap: 8px;
          margin-top: -5px;
          text-align: left;
          font-weight: bold;
        }

        .dropdown-title {
          padding: 8px;
          text-align: center;
        }

        .dropdown-redirects {
          display: flex;
          flex-direction: column;
          gap: 8px;
          border-top: 1px solid $primary-white;
          border-bottom: 1px solid $primary-white;
          padding: 8px 0;
          font-weight: normal;

          .dropdown-buttons {
            cursor: pointer;
            padding: 8px;
            box-sizing: border-box;
            &:hover {
              background-color: gray;
              border-radius: 8px;
              transition: 0.5s;
            }
          }
        }

        .dropdown-logout {
          cursor: pointer;
          font-weight: normal;
          padding: 8px;

          &:hover {
            background-color: gray;
            border-radius: 8px;
            transition: 0.5s;
          }
        }

        .dropdown-not-logged {
          display: flex;
          flex-direction: column;
          gap: 8px;

          button {
            padding: 8px;
            border-radius: 8px;
            background-color: $primary-blue;
            border: none;
            color: $primary-white;
            font-size: 16px;
            cursor: pointer;
          }

          .dropdown-not-logged-register {
            display: flex;
            gap: 3px;

            .link {
              color: #59b7ff;

              &:hover {
                color: #ff9443;
              }
            }
          }
        }
      }
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }

    &.two {
      display: flex;
      gap: 8px;
      overflow-y: auto;
      scrollbar-width: none;
      ::-webkit-scrollbar {
        width: 0px;
      }

      .active-tab {
        background-color: $primary-blue;
        color: $primary-white;
      }

      button {
        display: flex;
        gap: 8px;
        padding: 4px;
        border-radius: 8px;
        color: $primary-white;
        background-color: $background-color;
        border: 1px solid $primary-blue;
        width: 100%;

        &:hover {
          background-color: $primary-blue;
          color: $primary-white;
          transition: 0.5s;
        }

        @media screen and (min-width: 0px) and (max-width: 750px) {
          gap: 1px;
        }
      }
    }
  }

  ::-webkit-scrollbar {
    width: 0;
  }
  ::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
}
