@import "../../../index.scss";

.header-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;

  form {
    width: 100%;
    display: flex;

    input {
      color: $primary-white;
      background-color: $background-color;
      border: 1px solid $primary-blue;
      border-radius: 16px 0 0 16px;
      padding: 10px 24px;
      width: 95%;

      &:focus {
        outline: none;
        background-color: #003138;
      }
    }

    button {
      color: $primary-white;
      background-color: $background-color;
      border: 1px solid $primary-blue;
      border-left: none;
      border-radius: 0 16px 16px 0;
      width: 5%;
      min-width: 40px;
      transition: 0.5s;

      &:hover {
        background-color: #1942bb;
      }
    }
  }

  .header-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;

    h1 {
      font-family: Agbalumo;
      font-weight: bold;
      cursor: pointer;
      background: $logo;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      user-select: none;
    }

    .login-right-buttons {
      display: flex;
      gap: 10px;
      padding: 0 10px;
      align-items: center;
      justify-content: center;

      button {
        background-color: $background-color;
        color: $primary-white;
        border: none;
        gap: 8px;
      }

      .header-dropdown-button {
        color: $primary-white;
        cursor: pointer;
        display: flex;
        gap: 8px;
        user-select: none;
        font-size: 14px;
        width: 100%;

        .button-text {
          display: flex;
          align-items: center;
        }

        svg {
          height: 25px;
          width: 25px;
        }

        .left-icon {
          color: $primary-blue;
          position: relative;

          .cart-length {
            background-color: red;
            color: $primary-white;
            position: absolute;
            left: 12px;
            bottom: 16px;
            width: 16px;
            height: 16px;
            border-radius: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }

        &:hover {
          color: lightgray;
        }
      }

      @media screen and (min-width: 0px) and (max-width: 1080px) {
        gap: 20px;
        .header-dropdown-button {
          .button-text {
            display: none;
          }
        }
      }

      .dropdown-header {
        display: flex;
        flex-direction: column;
        //TODO:de schimbat aici ca sa nu mai am bugul cu punct pe header dropdown
        background-color: #292929;
        color: $primary-white;
        border-radius: 8px;
        position: absolute;
        top: 50px;
        padding: 0 8px 8px 8px;
        cursor: default;
        z-index: 2;

        &.account {
          right: 16px;

          @media screen and (min-width: 0px) and (max-width: 1080px) {
            right: 64px;
          }
        }

        &.cart {
          right: 38px;
        }

        &.favorite {
          right: 140px;
        }

        .dropdown-icon {
          display: flex;
          align-self: center;
          margin-top: -4px;
        }

        .dropdown-options {
          display: flex;
          flex-direction: column;
          gap: 8px;
          margin-top: -5px;
          text-align: left;
          font-weight: bold;

          &.product {
            gap: 0;
          }
        }

        .dropdown-title {
          padding: 4px;
          text-align: center;
        }

        .dropdown-redirects {
          display: flex;
          flex-direction: column;
          gap: 8px;
          border-top: 1px solid $primary-white;
          border-bottom: 1px solid $primary-white;
          padding: 8px 0;
          font-weight: normal;

          &.products {
            border: none;
            padding: 0;
            overflow-y: scroll;
            max-height: 300px;
          }

          .dropdown-buttons {
            cursor: pointer;
            padding: 8px;
            box-sizing: border-box;
            &:hover {
              background-color: gray;
              border-radius: 8px;
              transition: 0.5s;
            }
          }
        }

        .dropdown-logout {
          cursor: pointer;
          font-weight: normal;
          padding: 8px;

          &:hover {
            background-color: gray;
            border-radius: 8px;
            transition: 0.5s;
          }
        }

        .dropdown-not-logged {
          display: flex;
          flex-direction: column;
          gap: 8px;
          border-top: 1px solid $primary-white;
          padding-top: 8px;

          button {
            padding: 8px;
            border-radius: 8px;
            background-color: $primary-blue;
            border: none;
            color: $primary-white;
            font-size: 16px;
            cursor: pointer;
          }

          .dropdown-not-logged-register {
            display: flex;
            gap: 8px;
            align-items: center;

            .link {
              color: #59b7ff;

              &:hover {
                color: #ff9443;
              }
            }
          }
        }

        .dropdown-empty {
          display: flex;
          flex-direction: column;
          position: absolute;
          background-color: #292929;
          padding: 8px 16px;
          border-radius: 8px;
          padding: 0 8px 8px 8px;

          &.favorite {
            right: 40px;
          }

          &.cart {
            right: 80px;
          }

          .dropdown-empty-message {
            margin-top: -4px;
            white-space: nowrap;
          }
        }
      }
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }

    &.two {
      display: flex;
      gap: 8px;
      overflow-y: auto;
      scrollbar-width: none;
      ::-webkit-scrollbar {
        width: 0px;
      }

      .active-tab {
        background-color: $primary-blue;
        color: $primary-white;
      }

      button {
        display: flex;
        gap: 8px;
        padding: 4px;
        border-radius: 8px;
        color: $primary-white;
        background-color: $background-color;
        border: 1px solid $primary-blue;
        width: 100%;

        &:hover {
          background-color: $primary-blue;
          color: $primary-white;
          transition: 0.5s;
        }

        @media screen and (min-width: 0px) and (max-width: 750px) {
          gap: 1px;
        }
      }
    }
  }

  ::-webkit-scrollbar {
    width: 0;
  }
  ::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
}
