* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lora", serif;
}

body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #111111;
  color: #fcfcfc;
}

$background-color: #111111;
$secondary-black: #29292980;
$primary-white: #fcfcfc; //text, border cards
$primary-blue: #1942bb; //border, active
$logo: linear-gradient(135deg, rgba(103, 23, 205, 1) 33%, rgba(41, 111, 249, 1) 67%);
